mixin faq(modifier)
  section.faq
    .container
      h2.faq__title частые вопросы
      ul.faq__list
        li.faq__item
          .faq__item-header
            h2.faq__item-title Что я получу, оформив подписку?
          .faq__item-body
            img(src='img/cat.jpg' alt='cat')
