include ../blocks/faq/faq.pug
include ../blocks/timer/timer.pug
include ../blocks/order/order.pug
include ../blocks/intro/intro.pug
include ../blocks/reviews/reviews.pug
include ../blocks/quiz/quiz.pug
include ../blocks/quiz-el/quiz-el.pug
include ../blocks/quiz-row/quiz-row.pug
include ../blocks/load/load.pug
include ../blocks/result/result.pug
include ../blocks/y-get/y-get.pug
