mixin quiz-row(modifier)
  .quiz-row
    .quiz-row__line
    .quiz-row__item 
      input(type="radio" name='row' )#inp1
      label(for="inp1") 
        p менее 5 часов
    .quiz-row__item 
      input(type="radio" name='row' )#inp2
      label(for="inp2") 
        p 5-6 часов
    .quiz-row__item 
      input(type="radio" name='row' )#inp3
      label(for="inp3") 
        p 7-8 часов
    .quiz-row__item 
      input(type="radio" name='row' )#inp4
      label(for="inp4") 
        p 9 часов и более