mixin reviews(modifier)
  section.reviews
    .container  
      h2 Впечатляющие результаты<br> участниц первого потока
      .reviews__body.swiper-container
        .swiper-wrapper 
          .swiper-slide 
            img(src="img/r1.png", alt="")
          .swiper-slide 
            img(src="img/r2.png", alt="")
          .swiper-slide 
            img(src="img/r3.png", alt="")
      .swiper-pagination
