/* COLORS */
$w: #ffffff;
$b: #000000;
$text: #1f1f1f;
$green: #aad745;
$violet: #b855e3;
/* FONTS */
$f1: "Raleway";
$f2: "Soyuz Grotesk";
/* OTHER */

$header-height: 100px;
$header-height-m: 99px;
