mixin timer(modifier)
    .timer
        .timer__head
            p Предложение действительно:
        .timer__time
            .timer__num.minutes 15
            | :
            .timer__num.seconds 00
