mixin y-get(modifier)
  section.y-get
    .container 
      h2 В личном кабинете вы найдете:
      .y-get__items.swiper-container 
        .swiper-wrapper 
          .swiper-slide 
            img(src="img/get1.png", alt="")
            div
              h3 Видео-тренировоки
              p в формате «повторяй за мной». Все упражнения подобранны для максимальной эффективности и крутых результатов в короткие сроки
          .swiper-slide 
            img(src="img/get2.png", alt="")
            div
              h3 Отслеживание результатов
              p с помощью удобного инструмента прямо у вас в телефоне. А также трекер воды, календарь тренирвоок и многое другое
          .swiper-slide 
            img(src="img/get3.png", alt="")
            div
              h3 Полезные статьи
              p о шпагате и гибкости, которые помогут вам сесть на шпагат еще быстрее и избежать травм
      .swiper-pagination