mixin header(modifier)
  header.header
    .container
      picture.header__logo
        img(src="img/logo.svg", alt="")
      vue-cabinet-button(class='header__button button button--lc' :url='clientDomain' )
